<?xml version="1.0"?>

<!-- Launches Jackal Gazebo simulation in an empty world. Then control the robot 
     using the interactive markers, or the '2D Nav Goal' button in RVIZ.
     To open Gazebo, enter 'gzclient' in a new tab.
     
     To change the world, set 'world' to a valid file in 
     'multi_jackal_gazebo/worlds'. Loading a world for the first time might 
     take a while.
     
     To change the equipment on the Jackal, set 'config' to a valid file in
     'multi_jackal_description/urdf/configs'.
     The config might require a 'config_id' for further customisation. -->

<launch>
  <arg name="ns"        default="J0"/>
  <arg name="x" default="0"/> 
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="config"    default="base"/>
  <arg name="config_id" default="0"/>
  <arg name="world"     default="empty.world"/>
  <arg name="gui"       default="false"/>
  <arg name="rviz"      default="false"/>
  <arg name="global_frame" default="$(arg ns)/map_locus"/>
  <!-- <arg name="global_frame"  default="map"/>  -->
  <arg name="local_frame"  default="$(arg ns)/map"/>
  <arg name="use_global_tf"  default="true"/>
  <arg name="use_waypoint_coordenator" default="false"/>
  <arg name="use_gps_pose_relay" default="false"/>
  <!-- <arg name="use_navsat" default="false"/> -->
  <arg name="gps_drift" default="0.001"/>
  <arg name="latitude" default="38.54026098968023"/>
  <arg name="longitude" default="-7.962949545159461"/> 
  <arg name="heading" default="0.0"/> 
  <arg name="yawoffset" default="0.0"/>  


  <group ns="$(arg ns)" if="$(arg use_waypoint_coordenator)">
    <include file="$(find coordinates_waypoint_manager)/launch/coordinator.launch">
      <arg name="ns" value="$(arg ns)"/>
    </include>
  </group>

  <!-- <group ns="$(arg ns)" if="$(arg use_navsat)">
    <include file="$(find jackal_robot_localization)/launch/navsat_transform_jackal_sim.launch"/>
  </group> -->

  
  <!-- Spawn the robot. -->
  <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
    <arg name="ns"             value="$(arg ns)"/>
    <arg name="config"         value="$(arg config)"/>
    <arg name="config_id"      value="$(arg config_id)"/>
    <arg name="use_move_base"  value="false"/>
    <arg name="use_global_ekf" default="false"/>
    <arg name="x" value="$(arg x)"/> 
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw"  value="$(arg yaw)"/>
    <arg name="global_frame" value="$(arg global_frame)"/>
    <arg name="local_frame"  value="$(arg local_frame)"/>
    <arg name="use_global_tf"  value="$(arg use_global_tf)"/>
    <arg name="gps_drift" value="$(arg gps_drift)"/>
    <arg name="latitude"  value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/> 
    <arg name="heading" value="$(arg heading)"/> 
    <arg name="yawoffset" value="$(arg yawoffset)"/> 
  </include>


</launch>
