src/*.zip
*.bag
build/*
logs/*
devel/*
.catkin_tools/*
*.vscode*
src/Multi_Robot_Simulation/.vscode/settings.json
src/multi_jackal/.vscode/settings.json
src/jackal_robot_localization/.vscode/settings.json
