<?xml version="1.0"?>


<launch>
  <node pkg="jackal_robot_localization" type="navsat_transform_node" name="navsat_transform_px4_node" clear_params="true">
    <rosparam command="load" file="$(find jackal_robot_localization)/params/navsat_transform_template.yaml" />

    <remap from="imu/data" to="/mavros/imu/data"/>
    <remap from="odometry/filtered" to="/jackal_robot_localization/robot_pose"/> 
    <remap from="gps/fix" to="/mavros/global_position/raw/fix"/> <!--"/gps/fix"/>-->
    <remap from="odometry/gps" to="odometry/px4/gps"/>
    <remap from="gps/filtered" to="jackal_robot_localization/px4/gps"/>

  </node>

  <node pkg="jackal_robot_localization" type="navsat_transform_node" name="navsat_transform_ublox_node" clear_params="true">
    <rosparam command="load" file="$(find jackal_robot_localization)/params/navsat_transform_template.yaml" />

    <remap from="imu/data" to="/mavros/imu/data"/>
    <remap from="odometry/filtered" to="/jackal_robot_localization/robot_pose"/> 
    <remap from="gps/fix" to="/gps/fix"/> <!--"/gps/fix"/>-->
    <remap from="odometry/gps" to="odometry/ublox/gps"/>
    <remap from="gps/filtered" to="jackal_robot_localization/px4/gps"/>
    <remap from="gps/filtered" to="jackal_robot_localization/ublox/gps"/>

  </node>
</launch>

