<?xml version="1.0"?>


<launch>
  <node pkg="jackal_robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find jackal_robot_localization)/params/navsat_transform_template.yaml" />

    <remap from="imu/data" to="/mavros/imu/data"/>
    <remap from="odometry/filtered" to="/jackal_robot_localization/robot_pose"/> 
    <remap from="gps/fix" to="/gps/fix"/> <!--"/gps/fix"/>-->

<!--     <remap from="odometry/filtered" to="/odometry/filtered"/>    
 -->
    <!-- POR ESTES REMAPS COM UM ARG PARA O MBZIRC2020_0 -->

  </node>
</launch>

