<?xml version="1.0"?>


<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/navsat_transform_jackal_sim.yaml" />

    <remap from="imu/data" to="/jackal0/imu/data"/>
    <remap from="odometry/filtered" to="/jackal0/odometry/local_filtered"/> 
    <remap from="gps/fix" to="/jackal0/navsat/fix"/>


<!--     <remap from="odometry/filtered" to="/odometry/filtered"/>    
 -->
    <!-- POR ESTES REMAPS COM UM ARG PARA O MBZIRC2020_0 -->

  </node>
</launch>
